@{
    ViewData["Title"] = "CIT 218 Pops and Rocks!";
}

<div class="text-center">
    <h1 class="display-4">Robin's Web Apps</h1>
    <p>Web Apps are Awesome!</p></>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
